<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Trurating_Rating::trurating" title="TruRating" translate="title" module="Trurating_Rating" sortOrder="50" parent="Magento_Backend::stores" resource="Trurating_Rating::manage_trurating"/>
        <add id="Trurating_Rating::trurating_online" title="TruRating Online" translate="title" module="Trurating_Rating" sortOrder="10" parent="Trurating_Rating::trurating" action="trurating/registration" resource="Trurating_Rating::manage_trurating"/>
    </menu>
</config>